<%= form_with model: @user, class: "left-form" do |f| %>
    <% if @user.errors.size > 0 %>
        <ul>
            <% @user.errors.full_messages.each do |field, error| %>
                <li><%= "#{field}: #{error[0]}" %></li>
            <% end %>
        </ul>
    <% end %>
    <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class="form-group">
        <%= f.label :confirm_password %>
        <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit class: 'btn btn-default' %>
<% end %>
