<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
    <div class="container">
      <div id="header" class="row">
        <h1>Familia Sánchez de la Fuente</h1>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
        <% if logged_in? %>
          <% if controller_name!='users'%>
            <%= button_to 'Create User', '/users/new', method: :get, class: 'btn btn-default' %>
          <% end %>
          <% if controller_name!='tasks'%>
            <%= button_to 'List Tasks', '/tasks/index', method: :get, class: 'btn btn-default' %>
          <% end %>
          <%= button_to 'Logout', '/logout', method: :get, class: 'btn btn-warning' %>
        <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
