<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
